.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
  visibility: hidden;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.actionCol {
  width: 7%;
}

.customerModal {
  .kit__utils__heading {
    display: none;
  }
}

.ant-row.ant-form-item {
  margin-bottom: 5px;
}

.showHideDes::after {
  animation: none !important;
}

.cui__utils__content {
  padding-top: 1rem;
}

.ant-table-content {
  overflow: auto !important;
}

.inventory__adjustment--form {
  // margin: 0 auto !important;
  // border: 1px solid #ccc;
  // padding: 15px !important;
  // box-shadow: 0 0 12px 1px #ccc;

  // .ant-form-item-label {
  //   width: 35% !important;
  //   text-align: left !important;
  // }

  // .horizontal__lable {
  //   .ant-form-item {
  //     display: flex;
  //     justify-content: space-between;
  //     flex-direction: row !important;
  //     align-items: center;
  //     // border: 1px solid #a1a1c263;
  //     padding: 5px;
  //     margin: 0px !important;

  //     .ant-form-item-control {
  //       width: 40% !important;
  //       flex-grow: unset !important;
  //     }

  //   }
  // }
}

