body {
  overflow-x: hidden;
}

.sub-header__section {
  display: flex;
  justify-content: space-between;
}

.report__section {
  .top__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

